@font-face {
  font-family: OutfitR;
  src: url(../public/Outfit-Medium.ttf);
}
@font-face {
  font-family: OutfitM;
  src: url(../public/Outfit-Bold.ttf);
}
.accordian {
  margin-top: 20px;
  background-color: #000235;
  color: black;
  border: 1px solid rgb(179, 179, 179) !important;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
}
.text{
  font-size: 50px;
  font-family: OutfitM;

}
.title{
  font-size: 35px;
  font-family: OutfitM;
}
.boxRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxRow2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width:1000px) {
  .boxRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .boxRow2{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    width: 100%;
  }
}
.video {
  width: 100%;
}
