@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@font-face {
  font-family: OutfitR;
  src: url(../public/Outfit-Medium.ttf);
}
@font-face {
  font-family: OutfitM;
  src: url(../public/Outfit-Bold.ttf);
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.content2{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.content3{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.serviceRows1{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.serviceRows2{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
.visibleContent {
  position: sticky;
  top: 50px;
  width: 70%;
  overflow: hidden;
  border-image: linear-gradient(to bottom, #FFC700, #FF6347);
  border-image-slice: 1;
  border-image-width: 0 0 0 10px;
  transition: height 2s ease;
}




.main {
  /* min-width: 300px;
  max-width: 500px; */
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p {
  font-size: 1em;
  line-height: 1.75em;
  border-width: 3px;
  margin: 0;
  padding: 50px;
  animation: border-animation 7s linear infinite;

  counter-increment: section;
  width: 100%;
  position: relative;
  color: #34435e;
  /* border-radius: 30px !important; */
  /* background-color: #fff; */
  /* margin: 20px 0; */
}
@media screen and (max-width: 1000px) {
  .main {
    /* min-width: 300px;
    max-width: 500px; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .p {

    padding: 25px;
  }
  .serviceImg{
    display: none;
  }
  .serviceRows1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
  }
  .serviceRows2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.p:before {
}
.p:nth-child(odd) {
  border-right: 7px solid #e0c781;
  border-bottom: 7px dotted #e0c781;
  border-right-style: dotted;
  animation: border-animation 1s linear infinite;
  /* border-bottom-style: hidden; */
  border-left: 0;
  padding-left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0;
}
.p:nth-child(odd):before {
 
  

}
.p:nth-child(even) {
  /* border-left: 7px dotted #e0c781; */
  border-top: none;
  border-width: 50%;
  border-left-color: #e0c781;
  border-left-style: dotted;
  border-left-width: 7px;
  
  padding-right: 0;
  border-bottom: 7px dotted #e0c781;
  border-top-right-radius: 0px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0;
  position: relative;

}
.p:nth-child(even):before {
  


}
.p:first-child {
  border-top: 7px dotted #e0c781;




}
.p:last-child {



}

@keyframes border-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 0;
  }
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;

}
.text{
  font-size: 50px;
  font-family: OutfitM;

}
.serviceImg {
  width: 100%;
  margin: 20px 0;
  /* border-radius: 20px; */
}
.serviceImg img {
}
.descp {
  background-color: white;
  padding: 10px;
  font-family: OutfitR;

  border-radius: 20px;
  margin: 20px 0;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
}
.verticalbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
}
.container {
  width: 80%;
}

.maintimeline {
  font-family: tahoma;
  padding: 20px 0;
  position: relative;
}

.maintimeline::before,
.maintimeline::after {
  content: '';
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -0px;
  z-index: 2;
}

.maintimeline::after {
  top: auto;
  bottom: 0px;
}

.maintimeline .timeline {
  padding: 35px 0;
  margin-top: 0px;
  position: relative;
  z-index: 1;
}

.maintimeline .timeline::before,
.maintimeline .timeline::after {
  content: '';
  height: 291px;
  width: 50%;
  border-radius: 110px 0 0 110px;
  border: 5px solid #e0c781;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;

  z-index: -1;
}

/* .maintimeline .timeline::after {
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color: #e0c781;
  left: 12px;
  top: 15px;
} */

.maintimeline .timelinecontent {
  display: inline-block;
}

.maintimeline .timelinecontent:hover {
  text-decoration: none;
}

.maintimeline .timelineyear {
  color: #65c7d0;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  display: inline-block;
  transform: translatey(-50%);
  position: absolute;
  top: 45%;
  left: 10%;
}

.maintimeline .timelineicon {
  color: #65c7d0;
  font-size: 70px;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  left: 34%;
  top: 50%;
}

.maintimeline .content {
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  float: right;
}

.title {
  color: #fff ;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-family: OutfitR;

}

.maintimeline .description {
  font-size: 16px;
  margin: 0;
}

.maintimeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 110px 110px 0;
  border: 5px solid red;
  border: none;
}

.maintimeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 110px 110px 0;
  border: 5px solid green;
  border-left: none;
}

.maintimeline .timeline:nth-child(even) .content {
  float: left;
}

.maintimeline .timeline:nth-child(even) .timelineyear {
  left: auto;
  right: 10%;
}

.maintimeline .timeline:nth-child(even) .timelineicon {
  left: auto;
  right: 32%;
}

.maintimeline .timeline:nth-child(5n + 1)::before {
  border-color: #e0c781;
}
@media screen and (max-width:1200px) {
  .maintimeline .timeline:nth-child(5n + 1)::before {
    display: none;
  }
}
.maintimeline .timeline:nth-child(5n + 1)::after {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 1) .timelineicon {
  color: #65c7d0;
}

.maintimeline .timeline:nth-child(5n + 1) .timelineyear {
  color: #65c7d0;
}

.maintimeline .timeline:nth-child(5n + 1) .title {
  color: #fff;
}

.maintimeline .timeline:nth-child(5n + 2)::before {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 2)::after {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 2) .timelineicon {
  color: #ea3c14;
}

.maintimeline .timeline:nth-child(5n + 2) .timelineyear {
  color: #ea3c14;
}

.maintimeline .timeline:nth-child(5n + 2) .title {
  color: #fff;
}

.maintimeline .timeline:nth-child(5n + 3)::before {
  border-color: #e0c781;
}
@media screen and (max-width:1200px) {
  .maintimeline .timeline:nth-child(5n + 3)::before {
   display: none;
  }
}

.maintimeline .timeline:nth-child(5n + 3)::after {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 3) .timelineicon {
  color: #8cc63e;
}

.maintimeline .timeline:nth-child(5n + 3) .timelineyear {
  color: #8cc63e;
}

.maintimeline .timeline:nth-child(5n + 3) .title {
  color: #fff;
}

.maintimeline .timeline:nth-child(5n + 4)::before {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 4)::after {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 4) .timelineicon {
  color: #f99324;
}

.maintimeline .timeline:nth-child(5n + 4) .timelineyear {
  color: #f99324;
}

.maintimeline .timeline:nth-child(5n + 4) .title {
  color: #fff;
}

.maintimeline .timeline:nth-child(5n + 5)::before {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 5)::after {
  border-color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 5) .timelineicon {
  color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 5) .timelineyear {
  color: #e0c781;
}

.maintimeline .timeline:nth-child(5n + 5) .title {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .maintimeline .timeline:after {
    border-radius: 22px 0 0 22px;
  }
  .maintimeline .timeline:nth-child(even):after {
    border-radius: 0 22px 22px 0;
  }
  .timelineyear{
    display: none !important;
  }
}
@media screen and (max-width: 700px) {
  .maintimeline .timeline {
    margin-top: -19px;
  }
  .maintimeline .timeline:before {
    border-radius: 50px 0 0 50px;
    border-width: 10px;
  }
  .maintimeline .timeline:after {
    height: calc(100% - 18px);
    width: calc(50% - 9px);
    border-radius: 43px 0 0 43px;
    border-width: 10px;
    top: 9px;
    left: 9px;
  }
  .maintimeline .timeline:nth-child(even):before {
    border-radius: 0 50px 50px 0;
    border-width: 10px;
  }
  .maintimeline .timeline:nth-child(even):after {
    height: 323px;
    width: calc(50% - 9px);
    border-radius: 0 43px 43px 0;
    border-width: 10px;
    top: 0px;
    right: 9px;
  }
  .maintimeline .timelineicon {
    font-size: 60px;
  }
  .maintimeline .timelineyear {
    font-size: 40px;
  }
}
@media screen and (max-width: 479px) {
  .maintimeline .timelineicon {
    font-size: 50px;
    transform: translateY(0);
    top: 25%;
    left: 10%;
  }
  .maintimeline .timelineyear {
    font-size: 25px;
    transform: translateY(0);
    top: 65%;
    left: 9%;
  }
  .maintimeline .content {
    width: 68%;
    padding: 10px;
  }
  .maintimeline .title {
    font-size: 18px;
  }
  .maintimeline .timeline:nth-child(even) .timelineicon {
    right: 10%;
  }
  .maintimeline .timeline:nth-child(even) .timelineyear {
    right: 9%;
  }
}

.serviceBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  text-align: center;
  font-family: OutfitR;

  background: #e0c781;
  margin-top: 10px;
  font-weight: 600;
  border-radius: 83px;
}

.timelineImg {
  border-radius: 20px;
}
